{
  "env": {
    "legacy": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": ["> 1%", "since 2015", "ie >= 11"]
            },
            "spec": true,
            "modules": "commonjs",
            "useBuiltIns": "usage"
          }
        ]
      ],
      "plugins": [ "@babel/plugin-transform-runtime" ]
    }
  }
}
